* {
    margin: 0;
}

/* General structure */

.main-container {
    background-image: linear-gradient(to top, lemonchiffon, lightskyblue);
    height: 100%;
    position: relative;
    width: 100vw;
}

.inner-container {
    margin: 0 auto;
    padding-bottom: 80px;
    position: relative;
    text-align: center;
    top: 5%;
    width: 50vw;
    z-index: 2;
}

.cityscape {
    left: 0;
    bottom: 0;
    opacity: 0.8;
    position: fixed;
    width: 100vw;
    z-index: 1;
    -webkit-transform: translate(0, 45%);
}

.display-box {
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    left: 0;
    position: relative;
    width: 100%;
}

hr {
    border: 0;
    border-top: 10px dotted grey;
    margin: 0 auto;
    width: 100px;
}

/* Main text */

.ldn-title {
    color: indianred;
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    padding: 0.5em 0;
}

h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
}

/* Flexbox text */

h3 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5em;
}

.day-name {
    padding-bottom: 0.5em;
}

/* Flexbox */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0;
}

.daily-weather-box {
    flex: 0.33;
}

.weather-icon {
    background: rgba(135, 206, 250, 0.8);
    border-radius: 50%;
}

/* .weather-icon:hover {
    background: url("/images/union_flag.png");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.5;
} */

/* Media Queries */

/* Tablet */

@media (min-width: 500px){

}

/* Desktop */

@media (max-width: 1025px){

}